<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <!-- 如果用到@Table注解必须设置此属性，自动扫描，生产Entity的resultMap-->
        <property name="basePackage" value="com.efun.micro.mybatis.mapper"/>
    </properties>
    <settings>
        <setting name="logImpl" value="log4j2" />
        <!-- 如果为true，支持user_name，自动映射到userName -->
        <setting name="mapUnderscoreToCamelCase" value="false"/>
    </settings>

    <!-- 配置别名 -->
    <typeAliases>
        <!-- 批量扫描设置别名 -->
        <!--<package name="com.efun.mybatis.domain"/>-->
    </typeAliases>

    <!-- 配置类型转换处理，例如枚举要映射为数字，还是字符串，默认情况下所有的枚举都转换为字符串 -->
    <typeHandlers>
        <!-- 枚举映射为数字 -->
        <!--<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.efun.enum.Status"/>-->
        <!-- 枚举映射为字符串 -->
        <!--<typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.efun.enum.Status"/>-->

        <!--<typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.efun.archetype.domain.User$Gender"/>-->
    </typeHandlers>

    <!-- entity审计信息更新拦截器 -->
    <plugins>
        <plugin interceptor="com.efun.mybatis.support.AuditingInterceptor"></plugin>
    </plugins>


</configuration>